.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

h2 {
  color: var(--text-h);
  cursor: default;
  padding: 2rem;
  font-size: 1.6rem;
}

.filters-container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  color: var(--text);
  cursor: pointer;
}

.input-group input {
  cursor: pointer;
}

.streamer-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem 4rem;
  justify-content: center;
}

p {
  font-size: 1.3rem;
  font-weight: 600;
}

span {
  opacity: 0.5;
}

.pagination-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 2rem 3rem;
  min-width: 13rem;
  width: fit-content;
  margin: 4rem auto;
  border-radius: 1rem;
  border: 0.1rem solid var(--accent-border);
  color: var(--text);
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }

  .header-container {
    gap: 4rem;
    padding: 2rem 4rem;
  }

  p {
    font-size: 1.7rem;
  }

  .pagination-actions {
    padding: 2rem 7rem;
  }

  .pagination-actions svg {
    display: flex;
    z-index: 999;
  }
}
