.loading-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;

  & h3,
  & span {
    font-size: 1.6rem;
  }
}
.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#7c3aed, #a855f7, #ec4899, transparent);

  mask: radial-gradient(farthest-side, transparent calc(100% - 5px), #000 0);

  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 5px), #000 0);

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
